{{- if (eq .chezmoi.os "darwin") -}}
#!/bin/bash

LIME='\033[0;32m'
RESET_COLOR='\033[0m'

# Ensure that the environment is correctly sourced
zsh -i -c "
    # Ensure that the environment is correctly sourced
    if [ -f \"$HOME/.zshenv\" ] || [ -f \"$HOME/.zshrc\" ]; then
        # Source ~/.zshenv if it exists
        [ -f \"$HOME/.zshenv\" ] && echo -e \"\${LIME}Sourcing\${RESET_COLOR} ~/.zshenv to update environment variables\" && source \"$HOME/.zshenv\"

        # Source ~/.zshrc if it exists
        [ -f \"$HOME/.zshrc\" ] && echo -e \"\${LIME}Sourcing\${RESET_COLOR} ~/.zshrc for interactive shell configurations\" && source \"$HOME/.zshrc\"
    fi
"
osascript -e 'tell application "System Events" to keystroke "r" using {control down, shift down}'

# Archive File Associations
duti -s com.aone.keka public.archive all 2>/dev/null
duti -s com.aone.keka public.gzip-archive all 2>/dev/null
duti -s com.aone.keka public.rar-archive all 2>/dev/null
duti -s com.aone.keka public.7z-archive all 2>/dev/null
duti -s com.aone.keka public.tar-archive all 2>/dev/null
duti -s com.aone.keka public.zip all 2>/dev/null

# PDF File Associations
duti -s com.readdle.PDFExpert-Mac .pdf all 2>/dev/null

# Video File Associations
duti -s com.movist.MovistPro .mkv all 2>/dev/null
duti -s com.movist.MovistPro .mov all 2>/dev/null
duti -s com.movist.MovistPro .mp4 all 2>/dev/null
# Apply patches to macOS applications

function patch_appcleaner() { 
    defaults delete com.apple.opencom.sync.plist 2> /dev/null
	xxd -p -c 0 "$1/Contents/MacOS/App Cleaner 8" - | \
    sed "s/e9bc8b280055/e9bc8b2800c3/; \
        s/554889e54883ec20498d7d30488d75e831d231c9e895ae2d00/48c7c001000000c3498d7d30488d75e831d231c9e895ae2d00/; \
        s/db830914f85fbca9/db830914c0035fd6/; \
        s/ffc300d1fd7b02a9fd83009180c20091e1230091020080d2030080d2f5b10a94/200080d2c0035fd6fd83009180c20091e1230091020080d2030080d2f5b10a94/; " | \
	xxd -r -p -c 0 - "$1/Contents/MacOS/App Cleaner 8"
	codesign -f -s - "$1" && xattr -c -r "$1"
	echo -e "${LIME}OK!${RESET_COLOR}"
}; patch_appcleaner "/Applications/App Cleaner 8.app"

# Patch Forklift
defaults write com.binarynights.ForkLift registrationData -data "7B226C6963656E73654B6579223A22424E464C343031312D46454544464143452D43414645424142452D4142434445463030222C226C6963656E73655F74797065223A312C226E616D65223A22412E4C2E492E432E45222C227175616E74697479223A31302C227369676E6174757265223A2242433241413743463130344641364237424237443134373236313139323642434631363038373830222C2276616C696469747944617465223A3934363638313230307D"

# Patch DaisyDisk
mkdir -p "$HOME/Library/Application Support/DaisyDisk" || { echo "Failed to create DaisyDisk folder"; exit 1; }
rm -rf "$HOME/Library/Application Support/DaisyDisk/BlackList.plist"
defaults write "$HOME/Library/Application Support/DaisyDisk/License.DaisyDisk" License_CustomerName "A.L.I.C.E"
defaults write "$HOME/Library/Application Support/DaisyDisk/License.DaisyDisk" License_RegistrationKey "DH7X8TKY-Q5E5T7QP-QNAKRRCM-S8MQPKHC-W2GMGPN8"
mv "$HOME/Library/Application Support/DaisyDisk/License.DaisyDisk.plist" "$HOME/Library/Application Support/DaisyDisk/License.DaisyDisk"
defaults write com.daisydiskapp.DaisyDiskStandAlone SUEnableAutomaticChecks -boolean NO
defaults write com.daisydiskapp.DaisyDiskStandAlone MajorUpgrader_suppressUpgrades -boolean YES
defaults write com.daisydiskapp.DaisyDiskStandAlone Application_isFirstLaunch -boolean NO
defaults write com.daisydiskapp.DaisyDiskStandAlone SUSendProfileInfo -boolean NO
if ! grep -q "daisydiskapp.com/purchase/getBlackListHash.php" /etc/hosts; then
    sudo -- sh -c -e "echo '127.0.0.1 daisydiskapp.com/purchase/getBlackListHash.php' >> /etc/hosts" || { echo "Failed to block blacklist URL"; exit 1; }
fi

# Add Vallum license key to the license file.
sudo mkdir -p "/Library/Application Support/Vallum/Vallum 5/License"
echo "A.L.I.C.E#318163315983723#%" | sudo tee "/Library/Application Support/Vallum/Vallum 5/License/license" > /dev/null
sudo curl -L https://github.com/AliceWektron/assets/raw/refs/heads/main/cfgs/vallum/vallum.conf -o "/Library/Application Support/Vallum/Vallum 5/vallum.conf"

# Download and deploy Ray.Pro
curl -L https://github.com/AliceWektron/assets/releases/download/Patched/Ray.Pro -o ~/.bin/raycast/app

# Clear all extended attributes (including the macOS quarantine flag) for all custom app binary
find "$HOME/.bin" -type f -name app -exec xattr -cr {} +

# The following process requires opening a new terminal window (WezTerm) for successful execution
wezterm start -- zsh -i -c "
  # Install Node.js, npm
  volta install node &&
  volta install npm &&

  # Install PM2 globally
  npm install -g pm2 &&

  # Create the LaunchAgents directory if it doesn't exist
  mkdir -p ~/Library/LaunchAgents &&

  # Change ownership of the .pm2 directory to the current user
  sudo chown -R $(whoami) ~/.pm2 &&

  # Set the correct permissions for the pm2 log file
  sudo chmod 644 ~/.pm2/pm2.log &&

  # Configure PM2 to run on launchd as the current user
  sudo env PATH=$PATH:$(dirname $(volta which node)) pm2 startup launchd -u $(whoami) --hp $HOME &&

  # Start Ray.Pro with PM2 and save the process list
  pm2 start '~/.bin/raycast/app --config ~/.bin/raycast/config.toml' --name Ray.Pro &&

  # Save PM2 processes to ensure they restart on system boot
  pm2 save &&

  # Move PM2 plist to LaunchDaemons for system-wide management
  sudo mv ~/Library/LaunchAgents/pm2.$(whoami).plist /Library/LaunchDaemons/pm2.$(whoami).plist &&

  # Set correct permissions for the PM2 plist file in LaunchDaemons
  sudo chmod 644 /Library/LaunchDaemons/pm2.$(whoami).plist &&

  # Change ownership of the plist file to root:wheel
  sudo chown root:wheel /Library/LaunchDaemons/pm2.$(whoami).plist &&

  # Load the plist file with launchctl for system-wide management
  sudo launchctl load /Library/LaunchDaemons/pm2.$(whoami).plist &&

  sleep 15
"
{{ end -}}
